In [0]:
#get the dataset from the google drive share link

!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

#2. Get the file
downloaded = drive.CreateFile({'id':'1XCvAsxztyq02e8jVjwCyDPaUSp_32jcy'}) # replace the id with id of file you want to access
downloaded.GetContentFile('creditcard.csv')

In [0]:
#Libraries everyone should know

import sklearn as sk
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
import random

In [49]:
#get the database using pandas
df=pd.read_csv('creditcard.csv')
df.shape

(284807, 31)

In [50]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [51]:
#number of fraud cases i.e.-Class==1

df.loc[df['Class']==1].shape

(492, 31)

In [52]:
#seprating columns for testing

x_columns=df.columns[1:-1]
x_columns

y_columns=df.columns[-1:]
x_columns,y_columns

(Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
        'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
        'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount'],
       dtype='object'), Index(['Class'], dtype='object'))

In [53]:
X=df[x_columns]
y=df[y_columns]
X.head(),y.head()

(         V1        V2        V3        V4  ...       V26       V27       V28  Amount
 0 -1.359807 -0.072781  2.536347  1.378155  ... -0.189115  0.133558 -0.021053  149.62
 1  1.191857  0.266151  0.166480  0.448154  ...  0.125895 -0.008983  0.014724    2.69
 2 -1.358354 -1.340163  1.773209  0.379780  ... -0.139097 -0.055353 -0.059752  378.66
 3 -0.966272 -0.185226  1.792993 -0.863291  ... -0.221929  0.062723  0.061458  123.50
 4 -1.158233  0.877737  1.548718  0.403034  ...  0.502292  0.219422  0.215153   69.99

 [5 rows x 29 columns],    Class
 0      0
 1      0
 2      0
 3      0
 4      0)

In [54]:
#normalize the data

def normalize(X):
  """
  Function to normalize all the data in the dataframe
  """
  
  for column in X.columns:
    X[column]-=X[column].mean()
    X[column]/=X[column].std()
  
  return X

#See how it works

X_normal=normalize(X)
X_normal.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

         V1        V2        V3  ...       V27       V28    Amount
0 -0.694241 -0.044075  1.672771  ...  0.330891 -0.063781  0.244964
1  0.608495  0.161176  0.109797  ... -0.022256  0.044607 -0.342474
2 -0.693499 -0.811576  1.169466  ... -0.137137 -0.181021  1.160684
3 -0.493324 -0.112169  1.182514  ...  0.155396  0.186188  0.140534
4 -0.591329  0.531540  1.021410  ...  0.543619  0.651815 -0.073403

[5 rows x 29 columns]

In [0]:
#import the stratified Split
from sklearn.model_selection import StratifiedShuffleSplit

stratify=StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=42)

In [56]:
# split the data in two parts i.e. - train & test data

for train_indices, test_indices in stratify.split(X,y):
  
  X_train, X_test= X.iloc[train_indices], X.iloc[test_indices]
  y_train, y_test= y.iloc[train_indices], y.iloc[test_indices]


X_train=normalize(X_train)
X_test=normalize(X_test)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [0]:
#call the model
from sklearn.linear_model import LogisticRegression

log_reg=LogisticRegression()

In [58]:
#fit the model in train data
log_reg.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
#predict the result
y_pred=log_reg.predict(X_test)

In [60]:
# check for the rmse value

from sklearn import metrics

np.sqrt(metrics.mean_squared_error(y_test,y_pred))#lesser is better

0.03050319422577728

In [61]:
log_reg.score(X_test,y_test)#higher is better

0.9990695551420246

In [62]:
metrics.confusion_matrix(y_test, y_pred)

array([[56852,    12],
       [   41,    57]])

In [63]:
metrics.accuracy_score(y_test,y_pred)

0.9990695551420246

In [64]:
metrics.recall_score(y_test,y_pred)

0.5816326530612245

In [65]:
b#Print out the result of the model

print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56864
           1       0.83      0.58      0.68        98

    accuracy                           1.00     56962
   macro avg       0.91      0.79      0.84     56962
weighted avg       1.00      1.00      1.00     56962